<h1 class="title">A great community</h1>

<div class="main">

<div class="content"><ul>
	<li>The Cybernux OS community is growing daily. Some of our users provide source code, ideas, artwork and sometimes even funding.</li>
	<li>Don't hesitate to ask questions on the forums or to get involved in the community - share your passion, enthusiasm and thoughts with other users.</li>
	<li>Send us your feedback and tell us about your experience. We'll listen to your ideas and use them to further improve the Cybernux experience.</li>
</ul>
</div>

</div>

<img class="icon" src="/usr/share/live-installer/slideshow/icons/people.png" alt="" />
