<h1 class="title">Out of the box</h1>

<div class="main">

<div class="content"><ul>
	<li>Web browser, eMail tools and Office packages come pre-installed in Cybernux OS, so you can get started immediately with your new Operating System of choice.</li>
	<li>Other popular applications can be installed with a click of the mouse.</li>
	<li>Cybernux OS is compatible with most popular file formats: zip, doc, xls, pdf, rar, mp3, wmv, mpg, mp4, mov ...etc</li>
</ul></div>

</div>

<img class="icon" src="/usr/share/live-installer/slideshow/icons/desktop.png" alt="" />
