<h1 class="title">Built on a Solid Foundation</h1>

<div class="main">

<div class="content"><ul>
	<li>Cybernux OS is built upon Debian GNU/Linux and is thus fully compatible with Upstream Debian.</li>
	<li>The availability of thousands of packages within Debian make Cybernux OS one of the most attractive and complete operating systems available to home, office & professional users.</li>
	<li>At home, Cybernux OS is one operating system this is being used more & more on a daily basis.</li>
</ul></div>

</div>
<img class="icon" src="/usr/share/live-installer/slideshow/icons/upstream.png" alt="" />
