<h1 class="title">Safe updates</h1>

<div class="main">

<div class="content"><ul>
	
        <li>Cybernux OS rolls from one Update Pack to another, delivering safe and up to date packages without the need to reinstall the system.</li>        
        <li>The Cybernux OS Update Manager sits discreetly in your system tray and lets you know when updates are available. You don't have to apply updates when you don't want to. The Update Manager won't pop up or annoy you in any way.</li>
</ul></div>

</div>

<img class="icon" src="/usr/share/live-installer/slideshow/icons/lock.png" alt="" />
