<h1 class="title">Welcome to Cybernux OS</h1>

<div class="main">
<div class="content">	
	
	<p>Cybernux OS is based on Debian GNU/Linux, becuase of the robustness and efficiency of Debian, as well as the large amount of software available.</p>
    
    <p>We hope you'll enjoy your new operating system. Thank you for choosing Cybernux OS.</p>

</div>
</div>
<img class="icon" src="/usr/share/live-installer/slideshow/icons/logo.png" alt="Cybernux OS" /><br>
<!--<center>Based on:</center>
<img class="icon" src="/usr/share/live-installer/slideshow/icons/upstream.png" alt="Based on Debian GNU/Linux" />-->
