<h1 class="title">An alternative to mainstream operating systems</h1>

<div class="main">

<div class="content"><ul>
	<li>Cybernux OS is easy to use, powerful and configurable.</li>
	<li>Cybernux OS is safe and stable, you don't need an antivirus, an anti-spyware, a defragmentation tool or a registry cleaner.</li>
	<li>Cybernux OS can detect other operating systems and install itself beside them. You can choose which operating system to launch when you start the computer.</li>
</ul></div>

</div>

<img class="icon" src="/usr/share/live-installer/slideshow/icons/emblem-new.png" alt="" />
