<h1 class="title">Eine große Gemeinschaft</h1>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="/usr/share/live-installer/slideshow/link/general.css" rel="stylesheet" type="text/css" />
<div class="main">

<div class="content"><ul>

	<li>Die Cybernux OS Gemeinschaft wächst täglich. Einige unserer Anwender bieten Quellcode, Ideen, Kunstwerke und manchmal sogar Finanzierung.</li>
	<li>Zögern Sie nicht zu Fragen in den Foren stellen oder sich in der Gemeinschaft - Ihre Leidenschaft, Begeisterung und Gedanken mit anderen Benutzern zu teilen.</li>
	<li>Senden Sie uns Ihre Meinung und teilen Sie uns Ihre Erfahrungen mit. Wir hören uns ihre Ideen an und verwenden Sie zur weiteren Verbesserung der Cybernux erlebenis.</li>
</ul>
</div>

</div>

<img class="icon" src="/usr/share/live-installer/slideshow/icons/people.png" alt="" />
