<h1 class="title">Aus dem Kasten heraus</h1>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="/usr/share/live-installer/slideshow/link/general.css" rel="stylesheet" type="text/css" />
<div class="main">

<div class="content"><ul>

	<li>Web-Browser, E-Mail-Tools und Office-Pakete kommen in Cybernux OS vorinstalliert, so dass Sie sofort mit dem neuen Betriebssystem der Wahl beginnen können.</li>

    <li>Weitere beliebte Anwendungen können mit einem Mausklick installiert werden.</li>

    <li>Cybernux OS ist mit den meisten gängigen Dateiformaten kompatibel: zip, doc, xls, pdf, rar, mp3, WMV, MPG, MP4, MOV ... usw.</li>
</ul></div>

</div>

<img class="icon" src="/usr/share/live-installer/slideshow/icons/desktop.png" alt="" />
