<h1 class="title">Auf einem soliden Fundament gebaut</h1>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="/usr/share/live-installer/slideshow/link/general.css" rel="stylesheet" type="text/css" />
<div class="main">

<div class="content"><ul>
	<li>Cybernux OS basiert auf Debian GNU/Linux und ist somit voll kompatibel mit Upstream Debian.</li>
	
	<li>Die Verfügbarkeit von Tausenden von Paketen in Debian machen Cybernux OS eine der attraktivsten und vollständige Betriebssysteme verfügbar. Zu Hause, im Büro & für professionelle Benutzer.</li>
	
	<li>Zu Hause ist Cybernux OS ein Betriebssystem das mehr und mehr auf einer täglichen Basis verwendet wird.</li>
	
	
</ul></div>

</div>
<img class="icon" src="/usr/share/live-installer/slideshow/icons/upstream.png" alt="" />
