<h1 class="title">Sichere Updates</h1>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="/usr/share/live-installer/slideshow/link/general.css" rel="stylesheet" type="text/css" />
<div class="main">

<div class="content"><ul>
		<li>Cybernux OS rollt von einem Aktualisierungs-Satz zu anderen und liefert die sicheren und aktuellen Pakete ohne den Bedarf das system wieder zu installieren.</li>        
        
       <li>Die Cybernux OS Update Manager sitzt unauffällig in Ihrer Taskleiste und lässt Sie wissen, wenn Updates verfügbar sind. Sie müssen nicht die Aktualisierungen übernehmen, wenn Sie es nicht wollen. Der Update Manager wird nicht Nerven in keiner Weise.</li>
</ul></div>

</div>

<img class="icon" src="/usr/share/live-installer/slideshow/icons/lock.png" alt="" />
