<h1 class="title">Willkommen bei Cybernux OS</h1>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="/usr/share/live-installer/slideshow/link/general.css" rel="stylesheet" type="text/css" />
<div class="main">
<div class="content">	

	<p>Cybernux OS basiert auf Debian GNU/Linux, wegen der Robustheit und der Leistungsfähigkeit von Debian sowie der großen Menge von verfügbare Software.</p>
    
    <p>Wir hoffen, Sie haben viel Spaß mit Ihrem neuen Betriebssystem. Vielen Dank für das Wählen von Cybernux OS.</p>
</div>
</div>
<img class="icon" src="/usr/share/live-installer/slideshow/icons/logo.png" alt="Cybernux OS" /><br>

