<h1 class="title">Eine Alternative zu gängigen Betriebssysteme</h1>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="/usr/share/live-installer/slideshow/link/general.css" rel="stylesheet" type="text/css" />
<div class="main">

<div class="content"><ul>
	<li>Cybernux OS ist einfach zu bedienen, leistungsstark und konfigurierbar.</li>
    <li>Cybernux OS ist sicher und stabil. Sie brauchen kein Antivirus, ein Anti-Spyware, ein Defragmentierungstool oder einer Registrierung Reiniger.</li>
    <li>Cybernux OS kann andere Betriebssysteme erkennen und installiert sich neben ihnen. Sie können auswählen, welches Betriebssystem gestartet werden soll, wenn Sie den Computer starten.</li>
</ul></div>

</div>

<img class="icon" src="/usr/share/live-installer/slideshow/icons/emblem-new.png" alt="" />
